* {
  box-sizing: border-box;
  margin: 0;
}

/*  =============
    global styles
    ============= */

body {
  color: red;
}

img {
  display: block;
}

/*  =============
    typography
    ============= */

/*  =============
    layout
    ============= */

/* navigation */

/*  =============
    buttons
    ============= */
